* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


$fond : #f9f9f9fa;
$textePrincipal : #070707;
$blanc : #fff;
$gris: #DCDCDC;
$noir: #000;

$couleur1: #702608;
$couleur2:#357067;
$couleur3: #087061;
$couleur4: #BD623C;
$couleur5: #BD4615;